.tab-pane .tab-header-area .tab-header-background {
   -fx-background-color: #243e69;
}

.tab-button {
    -fx-background-color:  linear-gradient(to top, #59849c 0%, #3399ff 100%);
}

.tab-button-2 {
    -fx-background-color:  linear-gradient(to top, #59849c 0%, #3399ff 100%);
}