.anchor-pane {
    -fx-background-color:  linear-gradient(to top right, #3399ff 0%, #59849c 100%);
}

.anchor-pane-login {
    -fx-background-color: white;
}

.button-login {
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(to top right, #3399ff 0%, #59849c 100%);
}

.botao-cadastro{
    -fx-text-fill:  #3399ff;
}