.grafico {
    -fx-horizontal-grid-lines-visible: false;
    -fx-vertical-grid-lines-visible:false;
    -fx-alternative-column-fill-visible: false;
    -fx-alternative-row-fill-visible: false;
}

.chart-plot-background{
    -fx-background-color: transparent;
}

.chart-bar{
    -fx-background-color: linear-gradient(to top, #00f4ff, #1dbcda, #3886a9, #395571, #272b39);
}
//#0fdbc4
.tab-pane-pag2 .tab-header-area .tab-header-background {
   -fx-background-color: #243e69;
}

.tab-button1-pag2 {
    -fx-background-color:  linear-gradient(to top, #59849c 0%, #3399ff 100%);
}

.tab-button2-pag2 {
    -fx-background-color:  linear-gradient(to top, #59849c 0%, #3399ff 100%);
}

.vbox {
     -fx-background-color: linear-gradient(to top, #59849c 0%, #3399ff 100%);
}

.pane-grafico {
    -fx-background-color:  #7a63b8;
}

.chart-button{
    -fx-background-radius:  250;
    -fx-background-color:  #4a4270;
}

.pane-imagem {
    -fx-background-color: #ffffff;
}

.jfx-text-area .centeredTextArea .scroll-pane .content .text {
   -fx-text-alignment: center;
}